.btn {
    $this: &;

    display: inline-flex;
    align-items: center;
    padding: var(--gap-xs) var(--gap);
    border-radius: $brs-round;
    font-size: calc(#{$fz} / 10 * 1rem);
    line-height: calc(18 / 15 * 100%);
    font-weight: 400;
    background-color: $color-default;
    transition: $transition all;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--red);
            color: $color-default;
        }
    }

    &.disabled,
    &[disabled] {
        border: none;
        cursor: not-allowed;

        @media (any-hover: hover) {
            &:hover {
                color: $color-default;
            }
        }
    }

    &__arrow {
        flex-shrink: 0;
        margin-left: var(--gap-xs);
        width: 6rem;
        height: 2.4rem;
        stroke: $color-default;
        transition: $transition stroke;
    }

    &__text {
        letter-spacing: -0.02em;
    }

    &--style {

        &_more,
        &_link {
            padding: 0;
            background-color: transparent;
            color: $color-default;

            #{$this} {
                &__text {
                    border-bottom: 0.1rem solid #fff;
                    transition: $transition border-bottom-color;
                }
            }

            @media (any-hover: hover) {
                &:hover {
                    background-color: transparent;
                    color: var(--red);

                    #{$this} {
                        &__arrow {
                            stroke: var(--red);
                        }

                        &__text {
                            border-bottom-color: var(--red);
                        }
                    }
                }
            }
        }

        &_border {
            background-color: $color-default;
            border: 0.1rem solid var(--dark);
            color: var(--dark);

            @media (any-hover: hover) {
                &:hover {
                    background-color: var(--dark);
                    color: $color-default;
                }
            }
        }

        &_border-white {
            border: 0.1rem solid #fff;
            background-color: transparent;
            color: #fff;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #fff;
                    color: var(--dark);
                }
            }
        }
    }
}
