.swiper-button-prev,
.swiper-button-next {
    position: static;
    display: grid;
    place-items: center;
    width: 8rem;
    height: 4rem;
    border: 0.1rem solid #fff;
    border-radius: $brs-round;
    margin: 0;
    transition: $transition border-color;

    &::after {
        display: none;
    }

    svg {
        width: 4.1rem;
        height: 1.8rem;
        stroke: #fff;
        transition: $transition stroke;
    }

    @media (any-hover: hover) {
        &:hover {
            border-color: var(--red);

            svg {
                stroke: var(--red);
            }
        }
    }
}

.swiper-btns {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: var(--gap-xs);
}

/* .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    justify-content: center;
    bottom: 0;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $dark;

    &:not(:last-child) {
        margin-right: 1.65rem;
    }
} */
