.section-title {
    font-size: 4.8rem;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    @media(max-width: $sm) {
        font-size: 3.2rem;
    }
}

.decor-title {
    font-size: 17.8rem;
    line-height: 90%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    color: var(--gray-2);

    @media(max-width: $lg) {
        font-size: 8.2rem;
    }

    @media(max-width: $sm) {
        font-size: 4.2rem;
    }

    @media(max-width: $xs) {
        font-size: 3.2rem;
    }

    span {
        color: var(--red);
    }
}
