.pagination {
	@extend %vertical-align;
	justify-content: flex-end;
	padding: var(--gap) 0;

	@media (max-width: 767px) {
		justify-content: center;
	}

	// .pagination__list

	&__list {
		display: flex;
	}

	// .pagination__item

	&__item {
		&:not(:last-child) {
			margin-right: 4rem;

			@media (max-width: 767px) {
				margin-right: var(--offset-ls);
			}
		}
	}

	// .pagination__link

	&__link {
		@extend %text-20;
		font-weight: 500;
		color: var(--gray);

		@media (max-width: 500px) {
			font-size: 1.6rem;
			line-height: 2.4rem;
		}

		&.active {
			color: var(--dark);
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--red);
			}
		}
	}

	&__prev,
	&__next {
		svg {
			width: 5.6rem;
			height: var(--icon-size);
			fill: var(--dark);
			transition: $transition fill;

			@media (max-width: 767px) {
				width: 4rem;
				height: var(--icon-size_s);
			}
		}

		@media (any-hover: hover) {
			&:hover {
				svg {
					fill: var(--red);
				}
			}
		}
	}

	&__prev {
		margin-right: 3.5rem;

		@media (max-width: 767px) {
			margin-right: var(--offset-ms);
		}
	}

	// .pagination__next

	&__next {
		margin-left: 3.5rem;

		@media (max-width: 767px) {
			margin-left: var(--offset-ms);
		}
	}
}
