.products {
	background-color: $color-default;
	color: var(--dark);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(42rem, auto);
	grid-template-areas:
		'content content product-1 product-1'
		'content content product-2 product-3'
	;
	border-bottom: 0.1rem solid var(--line-color);

	&__content {
		grid-area: content;
		padding: var(--gap);
		display: grid;
		grid-template-rows: auto 1fr auto;
		gap: var(--gap);
		grid-template-areas:
			'title'
			'.'
			'text'
		;
	}

	&__title {
		grid-area: title;
	}

	&__text {
		grid-area: text;
		max-width: 54.2rem;
	}

	&__product {
		border-left: 0.1rem solid var(--line-color);

		&--1 {
			grid-area: product-1;
			border-bottom: 0.1rem solid var(--line-color);
		}

		&--2 {
			grid-area: product-2;
		}

		&--3 {
			grid-area: product-3;
		}
	}
}

.product-item {
	padding: var(--gap);
	display: flex;
	flex-direction: column;
	// .product-item__title

	&__title {
		margin-bottom: 5.2rem;
		max-width: 22rem;
		font-size: 2.4rem;
		font-weight: 400;
		letter-spacing: -0.02em;
	}

	// .product-item__items

	&__items {
		margin-top: auto;
		padding-bottom: var(--gap);
		display: flex;

		>* {
			width: 50%;
		}

		>*+* {
			margin-left: var(--gap);
		}
	}

	// .product-item__img

	&__img {
		align-self: center;
		width: 20rem;
		height: 20rem;
	}
}

.good-item {
	display: flex;
	align-items: center;
	transition: $transition color;
	// .good-item__img

	&__img {
		@include round(10rem);
		flex-shrink: 0;
		margin-right: 2rem;
	}

	// .good-item__title

	&__title {
		max-width: 15.6rem;
		text-decoration-line: underline;
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--red);
		}
	}
}
