body {
	min-width: 320px;
	font-style: normal;
	font-family: $ff;
	font-size: calc(#{$fz} / 10 * 1rem);
	line-height: 1.2;
	font-weight: 400;
	background-color: var(--dark);
	color: $color-default;
	overflow-x: hidden;

	&._lock {
		overflow-y: hidden;
	}
}

button,
input,
textarea {
	font-family: $ff;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	border: none;

	table & {
		max-width: none;
	}
}

p {
	font-size: 2rem;
	line-height: 120%;
	font-weight: 300;
	letter-spacing: -0.02em;
}
