.container {
    @include padding-x(var(--gap));
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.page {
    position: relative;
    flex: 1 0 auto;
}

.section {
    @include padding-y(var(--section-padding));

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: var(--gap-xs);

        &__text {
            max-width: 58rem;
        }


        &--orientation {
            &_col {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }
    }
}
