.burger-btn {
    display: none;
    padding: 1rem;
    place-items: center;

    img {
        width: 2rem;
        height: 0.6rem;
    }

    @media (max-width: 1024px) {
        display: grid;
    }
}
