.about-cranes {
    position: relative;
    padding: 35rem 0 30rem;

    @media(max-width: $lg) {
        @include padding-y(var(--section-padding));
    }

    &__img {
        display: none;

        @media(min-width: $xl) {
            display: block;
            position: absolute;
            top: 12.3rem;
            right: -93.2rem;
            width: 93.2rem;
            height: 66.9rem;
            transition: 1s linear right;

            &.in-view {
                right: 0;
            }
        }
    }

    // .about-cranes__grid

    &__grid {
        display: grid;

        @media(max-width: $lg) {
            gap: var(--gap-l) 0;
        }

        @media(min-width: $xl) {
            grid-template-columns: 32rem 49.3rem 22.7rem 1fr;
            grid-template-rows: auto 14.3rem auto;
            grid-template-areas: 'title title title title'
                '. . . .'
                '. text . more'
            ;
        }
    }

    // .about-cranes__title

    &__title {
        @media(min-width: $xl) {
            max-width: 140rem;
            grid-area: title;
        }
    }

    // .about-cranes__text

    &__text {
        @include row-grid(var(--gap-l));

        @media(min-width: $xl) {
            grid-area: text;
        }
    }

    // .about-cranes__more

    &__more {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 9rem;

        @media(max-width: $lg) {
            gap: var(--gap-l);
        }

        @media(min-width: $xl) {
            align-self: flex-end;
            grid-area: more;
        }
    }

    // .about-cranes__more-icons

    &__more-icons {
        display: flex;
    }

    // .about-cranes__more-icon

    &__more-icon {
        @include round(6rem);
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}
