.free-consultations {
	@include padding-y(var(--gap));
	background-color: $color-default;
	color: var(--dark);
	border-bottom: 0.1rem solid var(--line-color);
	// .free-consultations__grid

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto) 1fr repeat(2, auto);
		grid-template-areas:
			'picture title'
			'picture text'
			'picture .'
			'picture btn'
			'picture dl'
		;
		gap: var(--gap) var(--gap-xl);
	}

	// .free-consultations__picture

	&__picture {
		grid-area: picture;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .free-consultations__title

	&__title {
		max-width: 38.9rem;
		grid-area: title;
	}

	// .free-consultations__text

	&__text {
		max-width: 56.6rem;
		grid-area: text;
	}

	&__btn {
		grid-area: btn;
		justify-self: start;
	}

	// .free-consultations__list

	&__list {
		@include row-grid(var(--gap-xl));
		grid-area: dl;
		padding-top: 5rem;
		border-top: 0.1rem solid var(--line-color);
	}

	// .free-consultations__list-item

	&__list-item {
		display: grid;
		grid-template-columns: 14.3rem 1fr 40.7rem 1fr;
		grid-template-areas: 'dt . dd .';

		dt {
			grid-area: dt;
		}

		dd {
			grid-area: dd;
			color: var(--gray);
		}
	}
}
