.services {

    // .services__top

    &__top {
        margin-bottom: var(--gap-xl);
    }

    // .services__grid

    &__grid {
        display: grid;

        @media(min-width: $md) {
            grid-auto-rows: minmax(50rem, auto);
        }

        @media(min-width: $xl) {
            grid-template-columns: repeat(3, 1fr);
        }

        > * {

            &:nth-child(7n + 1),
            &:nth-child(7n + 7) {
                @media(min-width: $xl) {
                    grid-column: span 2;
                }
            }
        }
    }
}

.service-card {
    $this: &;

    background-color: var(--dark-gray);
    height: 100%;
    position: relative;
    border: 0.05rem solid var(--line-color-dark);
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        bottom: var(--gap);
        right: var(--gap);
        @include round(4.8rem);
        background-image: url(../images/icons/round-arrow-btn.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include hide();
        transition: $transition all;
    }

    // .service-card__content

    &__content {
        @include row-grid(4rem);
        align-content: start;
        justify-items: start;
        height: 100%;
        position: relative;
        z-index: 10;
        padding: var(--gap);
        color: var(--light-gray);
    }

    // .service-card__title

    &__title {
        max-width: 32.3rem;
        font-size: 2.4rem;
        line-height: calc(29 / 24 * 100%);
        font-weight: 400;
        letter-spacing: -0.02em;
    }

    // .service-card__img

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom right;
        transform: translateZ(0);
        transition: $transition-long transform,
            $transition-long opacity;

        &--position {
            &_top {
                object-position: top right;
            }
        }

        &.hover {
            opacity: 0;

            @media(max-width: $lg) {
                display: none;
            }
        }
    }

    @media (any-hover: hover) {
        &:hover {
            &::after {
                @include show();
            }

            #{$this} {
                &__img {
                    opacity: 0;

                    &.hover {
                        transform: scale(1.1);
                        opacity: 1;
                    }
                }
            }
        }
    }
}
