.news-section {
    border-top: 0.1rem solid var(--line-color-dark);

    &__inner {
        display: grid;

        @media(min-width: $xl) {
            grid-template-columns: 1fr auto;
            grid-template-areas: 'title news'
                'more news'
            ;
        }

        @media(max-width: $lg) {
            gap: var(--gap-l);
        }
    }

    // .news-section__title

    &__title {
        @media(min-width: $xl) {
            grid-area: title;
        }
    }

    &__more {
        @media(min-width: $xl) {
            grid-area: more;
        }

        @media(max-width: $lg) {
            justify-self: center;
        }
    }

    // .news-section__list

    &__list {
        display: grid;
        gap: var(--gap-xl);

        @media(min-width: $md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(min-width: $xl) {
            padding-left: var(--gap-xl);
            border-left: 0.1rem solid var(--dark-gray);
            grid-template-columns: repeat(4, 26rem);
        }

        @media(max-width: $lg) {
            gap: var(--gap);
        }
    }
}
