.news-section {
	@include padding-y(var(--section-padding));
	// .news-section__inner

	&__inner {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-areas:
			'title news'
			'more news'
		;
	}

	// .news-section__title

	&__title {
		grid-area: title;
	}

	&__more {
		grid-area: more;
	}

	// .news-section__list

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 26rem);
		gap: var(--gap-xl);
		padding-left: var(--gap-xl);
		border-left: 0.1rem solid var(--dark-gray);
	}
}

.container {}

.section-title {}
