:root {
    --red: #E22C42;
    --light-gray: #F4F4F4;
    --dark: #1B1B1B;
    --dark-gray: #2d2d2d;
    --gray: #939393;
    --gray-2: #CBCBCB;
    --line-color-dark: #4f4f4f;

    --gap-xs: 2rem;
    --gap: 3rem;
    --gap-l: 5.2rem;
    --gap-xl: 6rem;
    --section-padding: 10rem;
    --header-height: 5.5rem;

    @media(max-width: $md) {
        --section-padding: 5.2rem;
    }

    @media(max-width: $sm) {
        --gap-xs: 1.6rem;
        --gap: 2rem;
        --gap-l: 3.2rem;
        --gap-xl: 5.2rem;
    }
}
