:root {
	--red: #E22C42;
	--white-text: #F4F4F4;
	--dark: #1B1B1B;
	--dark-gray: #2d2d2d;
	--gray: #939393;
	--line-color: #CBCBCB;
	--line-color-dark: #4f4f4f;

	--gap: 3rem;
	--gap-l: 5.2rem;
	--gap-xl: 6rem;
	--section-padding: 10rem;
	--header-height: 5.5rem;

	// offsets (gaps)
	--offset-xxxl: 6.4rem;
	--offset-xxl: 5.6rem;
	--offset-xls: 4rem;
	--offset-xl: 4.8rem;
	--offset-l: 3.2rem;
	--offset-m: 2.4rem;
	--offset-s: 1.6rem;
	--offset-xs: var(--mob-padding);
	--offset-xxs: 0.8rem;
}
